<div class="container">
    <div class="navbar-translate">
        <a class="navbar-brand" rel="tooltip" data-placement="bottom" href="@Url.Action("Index", "Login")" data-original-title="Authentification Page">
            <i class="fa fa-user"></i> Login Page
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#Twitter" data-original-title="Follow us on Twitter">
                    <i class="fa fa-twitter"></i> Follow us on Twitter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#Facebook" data-original-title="Like us on Facebook">
                    <i class="fa fa-facebook-square"></i> Like us on Facebook
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#Instagram" data-original-title="Follow us on Instagram">
                    <i class="fa fa-instagram"></i> Follow us on Instagram
                </a>
            </li>
        </ul>
    </div>
</div>