@{
    ViewBag.Title = "About";
    Layout = "~/Views/Guest/_Layout.cshtml";
}

<div class="page-header header-filter" data-parallax="true" style="background-image: url(../assets/img/bg/profile_city.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Potentially a new Social Network.</h1>
                <h4>Welcome to a new Social Network &#x2014; made for People.</h4>
                <br>
                <a href="#https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-play"></i> Watch video
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">About Social Network</h2>
                    <h5 class="description">A new Social Network where user can find public persons that are sharing their info with each others &#x2014; Contact them using social networks like Facebook, Instagram, Twitter.</h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">chat</i>
                            </div>
                            <h4 class="info-title">Free Chat</h4>
                            <p>Use our free chat to talk to a person that accepted your chat request &#x2014; talking to a famous person has become easy now. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h4 class="info-title">Verified Users</h4>
                            <p>We are checking that an account is the authentic presence of the public figure, celebrity or global brand it represents.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="material-icons">email</i>
                            </div>
                            <h4 class="info-title">Verified Email Address</h4>
                            <p>Using a online tool to check either entered email adress is Valid or not and if that email adress is not Registered yet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center">
            <h2 class="title">Here is Our Team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="../Assets/img/faces/teddy.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">
                                    Teddy
                                    <br>
                                    <small class="card-description text-muted">Designer</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">Teddy is the best Designer we can afford. He is working for cookies and creating gorgeous designs for us!</p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#Twitter" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#Instagram" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#Facebook" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="../Assets/img/faces/mrBean.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">
                                    Mr. Bean
                                    <br>
                                    <small class="card-description text-muted">Model</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">Mr. Bean &#x2014; the only person Teddy is listening to, so we had to employ him as a Model for our pics.</p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="https://www.facebook.com/MrBean/" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-facebook-square"></i></a>
                                    <a href="https://twitter.com/MrBean?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/mrbean/?hl=en" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-instagram"></i></a>
                                    <a href="../examples/profile-page.html" class="btn btn-link btn-just-icon"><i class="fa fa-user"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contacts">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-center title">Work with us</h2>
                <h4 class="text-center description">
                    We are looking for smart and ambitious persons.
                    If you&apos;re Good at Design or building things using HTML & CSS &#x2014; write us a Message, we are waiting for You.
                </h4>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating"> Your Name</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating"> Your Email</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleMessage" class="bmd-label-floating"> Your Message</label>
                        <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ml-auto mr-auto text-center">
                            <button class="btn btn-success btn-raised">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>