<div class="container">
    <nav class="float-left">
        <ul>
            <li>
                <a href="#Tehnologii-Web">Tehnologii Web</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "About")">About Us</a>
            </li>
            <li>
                <a href="#Blog">Blog</a>
            </li>
            <li>
                <a href="#Licenses">Licenses</a>
            </li>
        </ul>
    </nav>
    <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, made by <a href="#Author">Vlad Movileanu</a>
    </div>
</div>